@import '~@/containers/App/styles/vars';
@import '~@/containers/App/styles/shared/type';
@import '~include-media';

/* flarumpro
************************************************/
	section.flarumpro {
		background-image: linear-gradient(134deg, #D0DAE0 0%, #FCFCFC 48%, #FBFCFC 100%);
		color: $shark-gray;
		> .container {
			flex-grow: 0;
		}
	}


/* top text mobile
************************************************/
	section.flarumpro > .top {
		padding: 10px 15px 25px;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		> .container {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			hyphens: auto;
			> svg.companies-flarumpro-dark {
				height: auto;
				width: 60vw;
				fill: $black;
				max-width: 300px;
				margin-bottom: 25px;
			}
			> span.description {
				@extend %h3;
			}
		}
	}

/* top text phone
************************************************/
	@include media('>=phone') {
		section.flarumpro > .top {
			padding: 20px 30px 50px;
		}
	}

/* top text tablet
************************************************/
	@include media('>=tablet') {
		section.flarumpro > .top {
			> .container {
				flex-direction: row;
				align-items: center;
				> svg.companies-flarumpro-dark {
					margin-bottom: 0;
				}
				> span.description {
					padding-left: 50px;
				}
			}
		}
	}

/* top text desktop-full
************************************************/
	@include media('>=desktop-full') {
		section.flarumpro > .top {
			padding: 0 0 100px;
		}
	}

/* screen mobile
************************************************/
	section.flarumpro {
		> .screen {
			overflow: hidden;
			width: 100vw;
			height: 400px;
			display: flex;
			justify-content: center;
			align-items: center;
			> img {
				object-fit: cover;
				object-position: center center;
				max-width: 100%;
				width: 100%;
				height: 100%;
				@include media('>=1645px') {
					object-fit: contain;
				}
			}
		}
	}

/* screen phone
************************************************/
	@include media('>=phone') {
		section.flarumpro {
			> .screen {
				height: 100vh;
			}
		}
	}


/* screenshots mobile
************************************************/
	section.flarumpro {
		> .screenshots {
			width: 100%;
			margin-top: 50px;
			display: flex;
			justify-content: center;
			> .container {
				display: flex;
				flex-direction: column;
				align-items: center;
				> svg.icons-hr {
					fill: $flarumpro;
					width: 40px;
					height: auto;
				}
				> p.description {
					width: 80%;
					text-align: center;
					hyphens: auto;
					@extend %h3;
					margin-top: 50px;
				}
			}
		}
	}

/* screenshots desktop
************************************************/
	@include media('>=desktop') {
		section.flarumpro {
			> .screenshots {
				margin-top: 100px;
				> .container {
					> p.description {
						margin-top: 100px;
					}
				}
			}
		}
	}

/* screenshots container mobile
************************************************/
	section.flarumpro {
		> .screenshots {
			> .container {
				> .screenshot-container {
					width: 100%;
					padding: 50px 15px 0;
					> .box {
						margin-bottom: 25px;
						&:last-child {
							margin-bottom: 0;
						}
						> .imgcontainer {
							transition: all $duration ease-out;
							overflow: hidden;
							border-radius: 4px;
							width: 100%;
							box-shadow: 0 0 10px 0 rgba(0,0,0,0.05);
							position: relative;
							&.large {
							}
							&.border {
								border: 1px solid #F2F0F0;
							}
							> span.enlarge {
								position: absolute;
								background: rgba(111,111,111,0.3);
								color: #FFF;
								@extend %h4;
								padding: 0 15px 1px 30px;
								border-radius: 90px;
								font-weight: 500;
								position: absolute;
								bottom: 20px;
								left: 20px;
								z-index: 1;
								transition: all $duration ease-out;
								line-height: 30px;
								opacity: 0;
								&::after {
									content: '+';
									font-weight: 500;
									@extend %h2;
									padding-left: 5px;
									left: 5px;
									top: -1px;
									position: absolute;
								}
							}
							&:hover {
								cursor: pointer;
								> span.enlarge {
									opacity: 1;
								}
							}
							> img {
								width: 100%;
								height: 100%;
								display: block;
							}
						}
						> .title {
							display: none;
						}
					}
				}
			}
		}
	}

/* screenshots container phone
************************************************/
	@include media('>=phone') {
		section.flarumpro {
			> .screenshots {
				> .container {
					> .screenshot-container {
						padding: 50px 30px 0;
						> .box {
							margin-bottom: 30px;
						}
					}
				}
			}
		}
	}

/* screenshots container tablet
************************************************/
	@include media('>=tablet') {
		section.flarumpro {
			> .screenshots {
				> .container {
					> .screenshot-container {
						display: flex;
						flex-wrap: wrap;
						justify-content: space-between;
						width: 100%;
						margin-top: 50px;
						> .box {
							display: flex;
							flex-direction: column;
							align-items: flex-start;
							flex-basis: calc(50% - 15px);
							&:last-child {
								margin-bottom: 30px;
							}
							> .imgcontainer {
								max-width: 650px;
								&:hover {
									cursor: pointer;
									transform: scale(1.01);
									box-shadow: 0 0 10px 10px rgba(0,0,0,0.05);
									> span.enlarge {
										opacity: 1;
									}
								}
							}
							> .title {
								margin-top: 10px;
								display: block;
							}
						}
					}
				}
			}
		}
	}

/* screenshots container desktop-full
************************************************/
	@include media('>=desktop-full') {
		section.flarumpro {
			> .screenshots {
				> .container {
					> .screenshot-container {
						padding-right: 0;
						padding-left: 0;
						> .box {
							flex-basis: calc(50% - 25px);
						}
					}
				}
			}
		}
	}

/* next project top mobile
************************************************/
	section.flarumpro {
		> .next-project {
			width: 100%;
			margin-top: 50px;
			padding: 0 15px;
			display: flex;
			justify-content: center;
			> .container {
				display: flex;
				flex-direction: column;
				align-items: center;
				> svg.icons-hr {
					fill: $flarumpro;
					width: 40px;
					height: auto;
				}
				> p.description {
					width: 65%;
					text-align: center;
					hyphens: auto;
					@extend %h3;
					margin-top: 50px;
				}
			}
		}
	}

/* next project top desktop
************************************************/
	@include media('>=desktop') {
		section.flarumpro {
			> .next-project {
				margin-top: 100px;
				> .container {
					> p.description {
						margin-top: 100px;
					}
				}
			}
		}
	}

/* next project content mobile
************************************************/
	section.flarumpro > .next-project {
		> .container {
			> .content {
				display: flex;
				flex-direction: column;
				align-items: center;
				> hr {
					margin: 50px 0;
					height: 1px;
					background: linear-gradient(90deg, transparent 0%, #E6E6E6 25%, #E6E6E6 75%, transparent 100%);
				}
				> h3.type {
					@extend %semibold;
					color: $dove-gray;
					margin-bottom: 20px;
				}
				> svg.companies-brd-fancy {
					height: 50px;
					width: auto;
				}
				> p.description {
					text-align: center;
					@extend %light;
					width: 65vw;
				}
				> a.goto-next {
					@extend %h2;
					color: $brd;
					@extend %semibold;
					padding-left: 25px;
					margin-top: 30px;
					margin-bottom: 50px;
				}
			}
		}
	}

/* next project content desktop
************************************************/
	@include media('>=desktop') {
		section.flarumpro > .next-project {
			> .container {
				> .content {
					> hr {
						margin: 100px 0;
					}
					> a.goto-next {
						margin-bottom: 100px;
					}
				}
			}
		}
	}