/* default fade
************************************************/
	.fade-enter-active, .fade-leave-active {
		transition: all $duration $bezier;
		position: absolute;
	}
	.fade-enter, .fade-leave-to {
		opacity: 0;
	}

/* fade router
************************************************/
	.fade-router-enter-active, .fade-router-leave-active {
		transition: all 500ms $bezier;
	}
	.fade-router-enter {
		width: 0vw !important;
	}
	.fade-router-leave-to {
		width: 0vw !important;
		right: 0 !important;
		left: auto !important;
	}

/* fade gallery
************************************************/
	.fade-gallery-enter-active, .fade-gallery-leave-active {
		transition: all $duration $bezier;
		position: absolute;
	}
	.fade-gallery-enter, .fade-gallery-leave-to {
		opacity: 0;
	}

/* fade gallery image
************************************************/
	.fade-gallery-image-enter-active, .fade-gallery-image-leave-active {
		transition: all $duration ease-out;
	}

	.fade-gallery-image-enter, .fade-gallery-image-leave-to {
		opacity: 0;
	}

/* fade nav menu
************************************************/
	.fade-nav-menu-enter-active, .fade-nav-menu-leave-active {
		transition: all $duration/1.5 ease-out;
	}

	.fade-nav-menu-enter, .fade-nav-menu-leave-to {
		top: 37px !important;
		opacity: 0;
	}