@import '../vars';

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */

%h1, %h2, %h3, %h4, %h5, %h6,
.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	margin: 0;
}

// x / 13.9951807229 = desired em's
%h1, h1 { font-size: 2.000em; } // 28
%h2, h2 { font-size: 1.500em; } // 21
%h3, h3 { font-size: 1.214em; } // 17
%h4, h4 { font-size: 1.000em; } // 14
%h5, h5 { font-size: 0.857em; } // 12px
%h6, h6 { font-size: 0.714em; } // 10px

$h1: 2.000em;
$h2: 1.500em;
$h3: 1.214em;
$h4: 1.000em;
$h5: 0.857em;
$h6: 0.714em;

%light, .light       { font-weight: 200; }
%regular, .regular   { font-weight: 300; }
%medium, .medium     { font-weight: 400; }
%semibold, .semibold { font-weight: 500; }
%bold, .bold         { font-weight: 600; }
%heavy, .heavy       { font-weight: 700; }

$light: 200;
$regular: 300;
$medium: 400;
$semibold: 500;
$bold: 600;
$heavy: 700;

h3.section-title {
	line-height: 1.0;
	@extend %semibold;
	margin-bottom: 30px;
	&:first-child {
		margin-top: 0;
	}
}