@import '~@/containers/App/styles/vars';
@import '~@/containers/App/styles/shared/type';

/* parcel
************************************************/
	section.parcel {
		background-image: linear-gradient(135deg, #373A4C 0%, #1A1B23 31%, #000000 100%);
		color: $silver;
		> .container {
			flex-grow: 0;
		}
	}

/* screen
************************************************/
	section.parcel {
		> .screen {
			overflow: hidden;
			width: 100%;
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
			> .top {
				position: absolute;
				height: auto;
				left: calc((100vw - 1350px) / 2);
				top: 10%;
				> svg.companies-parcel {
					height: 75px;
					width: auto;
					fill: $white;
				}
				> h2.description {
					width: 540px;
					@extend %h1;
					@extend %light;
					margin-top: 50px;
				}
			}
			> img {
				width: 100%;
				height: auto;
				max-width: 80vw;
				object-fit: cover;
				display: block;
			}
		}
	}

/* screenshots section
************************************************/
	section.parcel {
		> .screenshots {
			width: 100%;
			display: flex;
			justify-content: center;
			margin-top: 200px;
			> .container {
				display: flex;
				flex-direction: column;
				align-items: center;
				> svg.icons-hr {
					fill: $dove-gray;
					width: 40px;
					height: auto;
				}
				> p.description {
					width: 66%;
					text-align: center;
					@extend %h2;
					margin-top: 100px;
				}
			}
		}
	}

	/* screenshots container
	************************************************/
		section.parcel {
			> .screenshots {
				> .container {
					> .screenshot-container {
						margin-top: 200px;
						display: flex;
						flex-wrap: wrap;
						justify-content: space-between;
						width: 100%;
						&.small {
							justify-content: space-around;
						}
						> .box {
							margin-bottom: 50px;
							display: flex;
							flex-direction: column;
							align-items: center;
							> .imgcontainer {
								transition: all $duration ease-out;
								overflow: hidden;
								border-radius: 4px;
								width: 650px;
								height: 650px;
								background: transparent;
								box-shadow: 0 0 10px 0 rgba(0,0,0,0.05);
								position: relative;
								&.gif {
									width: 480px;
									height: 480px;
									> img {
										object-fit: cover;
										object-position: 0 0;
									}
								}
								&.large {
									height: 1350px;
								}
								&.border {
									border: 1px solid #F2F0F0;
								}
								> span.enlarge {
									position: absolute;
									background: rgba(111,111,111,0.3);
									color: #FFF;
									@extend %h4;
									padding: 0 15px 1px 30px;
									border-radius: 90px;
									font-weight: 500;
									position: absolute;
									bottom: 20px;
									left: 20px;
									z-index: 1;
									transition: all $duration ease-out;
									line-height: 30px;
									opacity: 0;
									&::after {
										content: '+';
										font-weight: 500;
										@extend %h2;
										padding-left: 5px;
										left: 5px;
										top: -1px;
										position: absolute;
									}
								}
								&:hover {
									cursor: pointer;
									transform: scale(1.01);
									box-shadow: 0 0 10px 10px rgba(0,0,0,0.05);
									> span.enlarge {
										opacity: 1;
									}
								}
								> img {
									width: 100%;
									height: 100%;
								}
							}
							> .title {
								margin-top: 10px;
								color: $dove-gray;
							}
						}
					}
				}
			}
		}

/* next project top section
************************************************/
	section.parcel {
		> .next-project {
			width: 100%;
			display: flex;
			justify-content: center;
			margin-top: 100px;
			> .container {
				display: flex;
				flex-direction: column;
				align-items: center;
				> svg.icons-hr {
					fill: $dove-gray;
					width: 40px;
					height: auto;
				}
				> p.description {
					width: 66%;
					text-align: center;
					@extend %h2;
					margin-top: 100px;
					margin-bottom: 100px;
				}
			}
		}
	}

	/* next project content
	************************************************/
		section.parcel > .next-project {
			> .container {
				> .content {
					width: 50%;
					display: flex;
					flex-direction: column;
					align-items: center;
					> hr {
						margin-bottom: 100px;
						height: 1px;
						background: linear-gradient(90deg, transparent 0%, #2A2A2A 25%, #2A2A2A 75%, transparent 100%);
					}
					> h3.type {
						@extend %semibold;
						color: $dove-gray;
						margin-bottom: 20px;
					}
					> svg.companies-flarumpro {
						height: 50px;
						width: auto;
						// fill: $white;
					}
					> p.description {
						text-align: center;
						font-size: 24px;
						margin: 50px 0;
						@extend %light;
					}
					> a.goto-next {
						@extend %h1;
						color: $dribbble;
						@extend %semibold;
						padding-left: 40px;
						margin-bottom: 100px;
					}
				}
			}
		}