<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset='utf-8'>
		<meta http-equiv='X-UA-Compatible' content='IE=edge'>
		<meta name='viewport' content="initial-scale=1, maximum-scale=1">
		<link rel='icon' href='<%= BASE_URL %>favicon.png'>
	</head>
	<body>
		<noscript>
			<strong>We're sorry but frontend doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
		</noscript>
		<div id='app'></div>
	</body>
</html>
