@import 'vars';
@import '~include-media';

/* base
note
html is set to 62.5% so that all the REM measurements throughout are based
on 10px sizing. so basically 1.5rem = 15px
************************************************/

	* {
		box-sizing: border-box;
		outline: none;
		-webkit-appearance: none;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-rendering: optimizeLegibility;
		-webkit-tap-highlight-color: rgba(0,0,0,0);
		margin-right: initial;
	}

	html,
	body {
		min-height: 100vh;
	}

	html {
		font-size: 62.5%;
	}

	body {
		/* currently ems cause chrome bug misinterpreting rem on body element
		*************************************************/
		font-size: 1.6em;
		line-height: 1.6;
		font-weight: 400;
		font-family: $font-stack-default !important;
		color: $white;
		background: $black;
		display: flex;
		justify-content: center;
		position: relative;
		letter-spacing: .5px;
		&.no-scroll {
			overflow: hidden;
		}
	}

/* links
************************************************/
	a {
		-webkit-tap-highlight-color: rgba(0,0,0,0);
		-webkit-tap-highlight-color: transparent;
		text-decoration: none;
		display: inline-block;
		opacity: .75;
		color: $white;
		transition: all $duration ease-out;
		&:hover {
			cursor: pointer;
			opacity: 1;
		}
		&.highlight {
			@extend %semibold;
			padding-bottom: 2px !important;
			transition: all $duration ease-out;
			line-height: 1.0;
			opacity: 1;
			&:hover {
				cursor: pointer;
			}
			&.white {
				color: $white;
				border-bottom: 2px solid darken($dove-gray, 15%);
				&:hover {
					border-bottom: 2px solid darken($dove-gray, 5%);
				}
			}
			&.blue-ribbon {
				color: $blue-ribbon;
				border-bottom: 2px solid lighten($blue-ribbon, 25%);
				&:hover {
					border-bottom: 2px solid lighten($blue-ribbon, 15%);
				}
			}
			&.flarumpro {
				color: $flarumpro;
				border-bottom: 2px solid lighten($flarumpro, 25%);
				&:hover {
					border-bottom: 2px solid lighten($flarumpro, 20%);
				}
			}
			&.brd {
				color: $brd;
				border-bottom: 2px solid darken($brd, 50%);
				&:hover {
					border-bottom: 2px solid darken($brd, 40%);
				}
			}
		}
	}

/* svg
************************************************/
	.svg-icon {
		display: inline-block;
		width: 24px;
		height: 24px;
		color: inherit;
		vertical-align: middle;
		fill: none;
		stroke: currentColor;
	}

	.svg-fill {
		fill: currentColor;
		stroke: none;
	}

/* misc
************************************************/
	hr {
		border: none;
		height: 1px;
		background: $shark-gray;
		width: 100%;
		margin: 15px 0;
	}

	@include media('>=phone') {
		hr {
			margin: 30px 0;
		}
	}

/* v-lazy-img global image styles
************************************************/
	.v-lazy-image {
		opacity: 0;
		transition: all $duration*1.5 $bezier;
		transform: translateY(15px);
		&-loaded {
			opacity: 1;
			transform: translateY(0);
		}
	}