// colors
	$white: #FFFFFF;
	$black: #000000;
	$dribbble: #EA4C89;
	$dodger-blue: #5772FE;
	$linkedin: #0E76A8;
	$blue-ribbon: #2E54F9;
	$gray: #808080;
	$silver: #C4C4C4;
	$dove-gray: #6D6D6D;
	$shark-gray: #222224;
	$abbey-gray: #535C61;

	$flarumpro: #414BFF;
	$brd: #ED5092;

// fonts
	$font-stack-sf: -apple-system, 'sf', BlinkMacSystemFont, sans-serif;
	$font-stack-default: $font-stack-sf;

// animations
	$duration: 300ms;
	$bezier: cubic-bezier(.645,.045,.355,1);

// dimensions
	$app-width: 1350px;

// responsive
	$breakpoints: (
		phone: 576px,
		tablet: 768px,
		desktop: 1024px,
		desktop-xl: 1290px, // 1350 - 60px of padding
		desktop-full: 1410px,
	);