@import 'vars';
@import 'base';
@import 'shared/shared';

.app {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	position: relative;
	section {
		width: 100%;
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		.container {
			max-width: $app-width;
			width: 100%;
			flex-grow: 1;
		}
	}
}