<style lang='scss' scoped src='./style.scss' />

<script>

	export default {
		name: 'navigation',
		props: {
			type: {
				type: String,
				default: 'white'
			}
		},
		data() {
			const path = 'companies/thumbs'
			return {
				scroll: {
					fixedNavBar: false,
					lastScrollPosition: 0,
					lastScrollBeforeReverse: 0,
				},
				menuOpen: false,
				mobileMenu: false,
				menuItems: [
					{
						name: `SupaGlobal`,
						to: `/work/supaglobal`,
						svgPath: `${path}/supa`,
					},
					{
						name: `Parcel`,
						to: `/work/parcel`,
						svgPath: `${path}/parcel`,
					},
					{
						name: `FlarumPro`,
						to: `/work/flarumpro`,
						svgPath: `${path}/flarumpro`,
					},
					{
						name: `BRD`,
						to: `/work/brd`,
						svgPath: `${path}/brd`,
					},
				]
			}
		},
		mounted() {
			window.addEventListener('resize', this.resize)
			this.resize()
		},
		beforeDestroy () {
			window.removeEventListener('scroll', this.onScrollUp)
			window.removeEventListener('resize', this.resize)
			window.removeEventListener('mouseover', this.resize)
			window.removeEventListener('touchstart', this.resize)
			window.removeEventListener('mousemove', this.resize)
			window.removeEventListener('touchstart', this.resize)
		},
		computed: {
			isWorkRoute() {
				const worksRoute = '/work/'
				const path = this.$route.path
				if (path.includes('work') && path.length >= (worksRoute.length + 1))
					return true
				else
					return false
			}
		},
		methods: {
			toggleMenu() {
				this.menuOpen = true
			},
			resize() {
				let mql = window.matchMedia('(min-width: 768px)')
				if (mql.matches === true) {
					const self = this
					document.querySelectorAll('li.work').forEach(item => {
						item.addEventListener('mouseover', this.toggleMenu)
						item.addEventListener('touchstart', this.toggleMenu)
					})
					window.addEventListener('mousemove', e => {
						if ((e.target.parentNode.classList !== undefined) && (!e.target.parentNode.classList.contains('menu') && !e.target.parentNode.classList.contains('menu-container') && !e.target.parentNode.classList.contains('nav') && !e.target.parentNode.classList.contains('item'))) {
							self.menuOpen = false
						}
					})
					window.addEventListener('touchstart', e => {
						if ((e.target.parentNode.classList !== undefined) && (!e.target.parentNode.classList.contains('menu') && !e.target.parentNode.classList.contains('menu-container') && !e.target.parentNode.classList.contains('nav') && !e.target.parentNode.classList.contains('item'))) {
							self.menuOpen = false
						}
					})
					window.addEventListener('scroll', this.onScrollUp)
				}
			},
			toggleMobileMenu() {
				this.mobileMenu = !this.mobileMenu
				if (this.mobileMenu) {
					document.body.classList.add('no-scroll')
				} else {
					document.body.classList.remove('no-scroll')
				}
			},
			onScrollUp() {
				const scrollPos = ((document.body.getBoundingClientRect().top)*-1)
				if (scrollPos > 400) {
					if (scrollPos < this.scroll.lastScrollPosition) {
						if (this.scroll.lastScrollPosition > this.scroll.lastScrollBeforeReverse) {
							this.scroll.lastScrollBeforeReverse = this.scroll.lastScrollPosition
						}
						if (scrollPos < this.scroll.lastScrollBeforeReverse - 400) {
							this.scroll.fixedNavBar = true
						}
					} else {
						this.scroll.lastScrollBeforeReverse = this.scroll.lastScrollPosition
						this.scroll.fixedNavBar = false
					}
					this.scroll.lastScrollPosition = scrollPos
					if (scrollPos > this.scroll.lastScrollPosition) {
						this.scroll.lastScrollBeforeReverse = this.scroll.lastScrollPosition
					}
				} else {
					this.scroll.fixedNavBar = false
				}
			}
		}
	}

</script>

<template>
	<div class='nav' :class='{ [type]: type }'>
		<div class='container'>
			<div class='logo'>
				<router-link to='/'>
					<svgicon class='icon' name='logo/head' :original='false'></svgicon>
				</router-link>
			</div>
			<ul class='links'>
				<li>
					<router-link to='/' exact>
						Home
					</router-link>
				</li>
				<li class='work menu'>
					<router-link :event='null' to='/work'>
						Work
					</router-link>
					<transition name='fade-nav-menu'>
						<div class='menu' v-if='menuOpen' :class='{ allActive: !isWorkRoute }'>
							<div class='arrow'></div>
							<div class='menu-container'>
								<router-link
									v-for='(item, index) in menuItems'
									class='item'
									:key='item.name'
									:class='item.name'
									:to='item.to'>
									<svgicon class='icon' :name='item.svgPath' :original='true' />
									<span class='name'>{{ item.name }}</span>
								</router-link>
							</div>
						</div>
					</transition>
				</li>
				<li class='contact'>
					<router-link to='/contact'>
						Contact
					</router-link>
				</li>
				<li class='contact'>
					<a target='_blank' href='https://www.linkedin.com/in/molsz/'>
						LinkedIn
					</a>
				</li>
				<li class='contact'>
					<a target='_blank' href='docs/updated-resume.pdf'>
						Resumé
					</a>
				</li>
			</ul>

			<!-- MOBILE -->
			<svgicon class='icons-menu' name='icons/menu' :original='false' @click='toggleMobileMenu' />
			<transition name='fade'>
				<div class='mobile-menu' v-if='mobileMenu'>
					<div class='top'>
						<router-link to='/'>
							<svgicon class='icon' name='logo/head' :original='false'></svgicon>
						</router-link>
						<svgicon class='icons-close' name='icons/close' :original='false' @click='toggleMobileMenu' />
					</div>
					<ul class='links'>
						<router-link tag='li' to='/' exact @click.native='toggleMobileMenu'>
							Home
						</router-link>
						<router-link tag='li' to='/contact' @click.native='toggleMobileMenu'>
							Contact
						</router-link>
						<li>
							<a target='_blank' href='https://www.linkedin.com/in/molsz/'>
								LinkedIn
							</a>
						</li>
						<li>
							<a target='_blank' href='/docs/updated-resume.pdf'>
								Resume
							</a>
						</li>
					</ul>
				</div>
			</transition>
		</div>

		<!-- FIXED -->
		<div class='container fixed' :class='{fixedShow: scroll.fixedNavBar}'>
			<div class='logo'>
				<router-link to='/'>
					<svgicon class='icon' name='logo/head' :original='false'></svgicon>
				</router-link>
			</div>
			<ul class='links'>
				<li>
					<router-link to='/' exact>
						Home
					</router-link>
				</li>
				<li class='work menu'>
					<router-link :event='null' to='/work'>
						Work
					</router-link>
					<transition name='fade-nav-menu'>
						<div class='menu' v-if='menuOpen' :class='{ allActive: !isWorkRoute }'>
							<div class='arrow'></div>
							<div class='menu-container'>
								<router-link
									v-for='(item, index) in menuItems'
									class='item'
									:key='item.name'
									:class='item.name'
									:to='item.to'>
									<svgicon class='icon' :name='item.svgPath' :original='true' />
									<span class='name'>{{ item.name }}</span>
								</router-link>
							</div>
						</div>
					</transition>
				</li>
				<li class='contact'>
					<router-link to='/contact'>
						Contact
					</router-link>
				</li>
				<li>
					<a target='_blank' href='https://www.linkedin.com/in/molsz/'>
						LinkedIn
					</a>
				</li>
				<li>
					<a target='_blank' href='docs/updated-resume.pdf'>
						Resumé
					</a>
				</li>
			</ul>
		</div>
	</div>
</template>
