@import '~@/containers/App/styles/vars';
@import '~@/containers/App/styles/shared/type';
@import '~include-media';

/* nav mobile
************************************************/
	.nav {
		width: 100%;
		padding: 15px;
		display: flex;
		justify-content: center;
		> .container {
			display: flex;
			justify-content: space-between;
			align-items: center;
			transition: all $duration*1.25 $bezier;
			> .logo {
				> a {
					opacity: 1;
				}
			}
			> ul.links {
				display: none;
			}
			> svg.icons-menu {
				width: 20px;
				height: auto;
			}
		}
	}

/* nav phone
************************************************/
	@include media('>=phone') {
		.nav {
			padding: 30px;
		}
	}

/* nav desktop >=tablet
************************************************/
	@include media('>=tablet') {
		.nav {
			> .container {
				justify-content: flex-start;
				> ul.links {
					list-style-type: none;
					padding: 0;
					margin: 0;
					display: flex;
					> li {
						margin-left: 25px;
						> a {
							transition: all $duration ease-out;
							&.router-link-active {
								opacity: 1;
								font-weight: $bold;
							}
						}
					}
				}
				> svg.icons-menu {
					display: none;
				}
			}
		}
	}

/* nav desktop >=desktop
************************************************/
	@include media('>=desktop') {
		.nav {
			padding: 50px 30px;
			> .container {
				> .logo {
					> a {
						> .icon {
							width: 40px;
							height: 40px;
						}
					}
				}
				> ul.links {
					> li {
						margin-left: 35px;
						> a {
							font-size: $h3;
						}
					}
				}
			}
		}
	}

/* nav desktop >=desktop-full
************************************************/
	@include media('>=desktop-full') {
		.nav {
			padding: 100px 30px;
		}
	}

/* nav mobile menu
************************************************/
	.nav {
		> .container {
			> .mobile-menu {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				background: $black;
				z-index: 100;
				display: flex;
				flex-direction: column;
				max-height: 100vh;
				> .top {
					width: 100%;
					padding: 15px;
					display: flex;
					justify-content: space-between;
					align-items: flex-start;
					flex-grow: 1;
					> a {
						opacity: 1;
					}
					> svg.icons-close {
						width: auto;
						height: 16px;
						margin-top: 4px;
						margin-right: 2px;
						fill: $white;
					}
				}
				> ul.links {
					margin: 0;
					padding: 0;
					padding: 0 15px 15px;
					list-style-type: none;
					color: $white;
					> li {
						@extend %h1;
						margin-bottom: 15px;
						opacity: .5;
						transition: all $duration $bezier;
						&:hover {
							cursor: pointer;
							opacity: 1;
						}
						&.router-link-active {
							opacity: 1;
						}
						&:last-child {
							margin-bottom: 0;
						}
						> a {
							opacity: 1;
						}
					}
				}
			}
		}
	}

/* nav mobile menu >=576
************************************************/
	@include media('>=phone') {
		.nav {
			> .container {
				> .mobile-menu {
					> .top {
						padding: 30px;
					}
					> ul.links {
						padding: 0 30px 30px;
						> li {
							margin-bottom: 30px;
						}
					}
				}
			}
		}
	}

/* nav mobile menu >=tablet
************************************************/
	@include media('>=tablet') {
		.nav {
			> .container {
				> .mobile-menu {
					display: none;
				}
			}
		}
	}

/* nav fixed mobile
************************************************/
	.nav > .container.fixed {
		display: none;
	}

/* nav fixed tablet >=768
************************************************/
	@include media('>=tablet') {
		.nav > .container.fixed {
			transform: translateY(-100%);
			position: fixed;
			z-index: 200;
			max-width: none;
			padding: 30px;
			top: 0;
			left: 0;
			right: 0;
			display: flex;
			&.fixedShow {
				transform: translateY(0);
				> ul.links {
					> li.work {
						> .menu {
							display: block;
						}
					}
				}
			}
			> .logo {
				> a {
					> .icon {
						fill: $white;
						height: 24px;
						width: 24px;
					}
				}
			}
			> ul.links {
				> li {
					margin-left: 25px;
					> a {
						font-size: $h4;
					}
				}
				> li.work {
					> .menu {
						display: none;
						top: 44px;
					}
				}
			}
		}
	}

/* nav fixed tablet >=desktop-full
************************************************/
	@include media('>=desktop-full') {
		.nav > .container.fixed {
			padding-left: calc((100vw - 1350px) / 2);
		}
	}

/* nav hover dropdown menu >=768
************************************************/
	.nav {
		> .container {
			> ul.links {
				> li.work {
					position: relative;
					> .menu {
						position: absolute;
						z-index: 200;
						top: 20px;
						left: -72px;
						> .arrow {
							width: 0;
							height: 0;
							border-left: 10px solid transparent;
							border-right: 10px solid transparent;
							border-bottom: 10px solid $white;
							margin-left: 80px;
							margin-top: 20px;
							margin-bottom: -1px;
						}
						> .menu-container {
							white-space: nowrap;
							background: $white;
							padding: 20px;
							border-radius: 4px;
							box-shadow: 0 0 10px 0 rgba(0,0,0,0.05);
						}
						&.allActive {
							> .menu-container {
								> a.item {
									opacity: 1;
									filter: grayscale(0%);
								}
							}
						}
						> .menu-container {
							> a.item {
								font-size: 15px;
								display: block;
								color: $abbey-gray;
								margin-bottom: 15px;
								filter: grayscale(100%);
								@extend %bold;
								&:hover {
									opacity: 1;
									filter: grayscale(0);
									&.SupaGlobal { color: $black; }
									&.Parcel { color: $black; }
									&.FlarumPro { color: #414BFF; }
									&.BRD { color: #ED5092; }
									&.RemoteYes { color: #2E54F9; }
									&.DailyCodingProblem { color: #1DB47F; }
									&.PikLink { color: #362BAF; }
								}
								&.router-link-active {
									opacity: 1;
									filter: grayscale(0);
									&.SupaGlobal { color: $black; }
									&.Parcel { color: $black; }
									&.FlarumPro { color: #414BFF; }
									&.BRD { color: #ED5092; }
									&.RemoteYes { color: #2E54F9; }
									&.DailyCodingProblem { color: #1DB47F; }
									&.PikLink { color: #362BAF; }
								}
								&:last-child {
									margin-bottom: 0;
								}
								> svg.icon {
									width: 40px;
									height: 40px;
									margin-right: 15px;
								}
							}
						}
					}
				}
			}
		}
	}

/* color types
************************************************/
	.nav {
		&.white {
			background: none;
			> .container > .logo > a > .icon {
				fill: $white;
			}
			> .container > ul.links > li > a {
				color: $white;
			}
			> .container {
				&.fixed {
					box-shadow: 0 10px 20px rgba(0,0,0,0.05);
					background: $black;
				}
				> svg.icons-menu {
					fill: $white;
				}
			}
		}
		&.black {
			background: none;
			> .container > .logo > a > .icon {
				fill: $black;
			}
			> .container > ul.links > li > a {
				color: $black;
			}
			> .container {
				&.fixed {
					box-shadow: 0 10px 20px rgba(0,0,0,0.05);
					background: $white;
				}
			}
		}
	}