@import '~@/containers/App/styles/vars';
@import '~@/containers/App/styles/shared/type';

/* brd
************************************************/
	section.brd {
		background-image: linear-gradient(135deg, #252353 0%, #0A091E 32%, #0A091E 100%);
		color: #7371a2;
		> .container {
			flex-grow: 0;
		}
	}

/* top text
************************************************/
	section.brd > .container {
		> .top {
			display: flex;
			align-items: center;
			> svg.companies-brd-fancy {
				height: 54px;
				width: auto;
				fill: $black;
			}
			> h2 {
				margin-left: 100px;
			}
		}
	}

/* hero
************************************************/
	section.brd {
		> .hero {
			overflow: hidden;
			margin-top: 100px;
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			> img {
				width: auto;
				height: 100vh;
				object-fit: cover;
				display: block;
			}
		}
	}

/* screenshots section
************************************************/
	section.brd {
		> .screenshots {
			width: 100%;
			display: flex;
			justify-content: center;
			margin-top: 200px;
			> .container {
				display: flex;
				flex-direction: column;
				align-items: center;
				> svg.icons-hr {
					fill: $dove-gray;
					width: 40px;
					height: auto;
				}
				> p.description {
					width: 66%;
					text-align: center;
					@extend %h2;
					margin-top: 100px;
				}
			}
		}
	}

	/* screenshots container
	************************************************/
		section.brd {
			> .screenshots {
				> .container {
					> .screenshot-container {
						margin-top: 200px;
						display: flex;
						flex-wrap: wrap;
						justify-content: space-between;
						width: 100%;
						&.small {
							justify-content: space-around;
						}
						> .box {
							margin-bottom: 50px;
							display: flex;
							flex-direction: column;
							align-items: center;
							> .imgcontainer {
								transition: all $duration ease-out;
								overflow: hidden;
								border-radius: 4px;
								width: 433px;
								height: 682px;
								background: transparent;
								box-shadow: 0 0 10px 0 rgba(0,0,0,0.05);
								position: relative;
								> span.enlarge {
									position: absolute;
									background: rgba(0,0,0,0.75);
									color: #FFF;
									@extend %h4;
									padding: 0 15px 1px 30px;
									border-radius: 90px;
									font-weight: 500;
									position: absolute;
									bottom: 35px;
									left: 25px;
									z-index: 1;
									transition: all $duration ease-out;
									line-height: 30px;
									opacity: 0;
									&::after {
										content: '+';
										font-weight: 500;
										@extend %h2;
										padding-left: 5px;
										left: 5px;
										top: -1px;
										position: absolute;
									}
								}
								&:hover {
									cursor: pointer;
									transform: scale(1.01);
									box-shadow: 0 0 10px 10px rgba(0,0,0,0.05);
									> span.enlarge {
										opacity: 1;
									}
								}
								> img {
									width: 100%;
									height: 100%;
								}
							}
							> .title {
								color: $dove-gray;
							}
						}
					}
				}
			}
		}

/* next project top section
************************************************/
	section.brd {
		> .next-project {
			width: 100%;
			display: flex;
			justify-content: center;
			margin-top: 50px;
			> .container {
				display: flex;
				flex-direction: column;
				align-items: center;
				> svg.icons-hr {
					fill: #2A2A2A;
					width: 40px;
					height: auto;
				}
				> p.description {
					width: 66%;
					text-align: center;
					@extend %h2;
					margin-top: 100px;
					margin-bottom: 100px;
				}
			}
		}
	}

	/* next project content
	************************************************/
		section.brd > .next-project {
			> .container {
				> .content {
					width: 50%;
					display: flex;
					flex-direction: column;
					align-items: center;
					> hr {
						background: #2A2A2A;
						margin-bottom: 100px;
					}
					> h3.type {
						@extend %semibold;
						color: $dove-gray;
						margin-bottom: 20px;
					}
					> svg.companies-flarumpro {
						height: 50px;
						width: auto;
						// fill: $white;
					}
					> p.description {
						text-align: center;
						font-size: 24px;
						margin: 50px 0 0;
						@extend %light;
					}
					> a.goto-next {
						@extend %h1;
						color: $dribbble;
						@extend %semibold;
						padding-left: 40px;
						margin-bottom: 100px;
					}
				}
			}
		}