<style lang='scss' scoped src='./style.scss' />

<script>

	export default {
		name: 'loaders',
		data() {
			return {
				show: false,
			}
		},
	}

</script>

<template>
	<div class='loaders'>
		<transition name='fade-router'>
			<div class='loading-screen' v-if="$wait.is('router')"></div>
		</transition>
	</div>
</template>