@import '~@/containers/App/styles/vars';

/* full page loader
************************************************/
.loaders {
	/deep/ .loading-screen {
		position: absolute;
		// min-width: 100vw;
		width: 100vw;
		min-height: 100vh;
		background: $dribbble;
		bottom: 0;
		top: 0;
		left: 0;
		right: 0;
		z-index: 250;
		-webkit-backface-visibility: hidden;
	}
}