<style lang='scss' scoped src='./style.scss' />

<script>

	import Navigation from '@/components/Navigation/Navigation'

	export default {
		name: 'contact',
		components: {
			Navigation,
		}
	}

</script>

<template>
	<section class='contact'>
		<Navigation />
		<div class='container'>
			<div class='box'>
				<div class='title'>Let's Talk</div>
				<p class='description'>
					If you have a project in mind or are simply interested in finding out more, get in touch and let’s get things moving.
				</p>
				<hr />
				<a class='mailto' href='mailto:hi@olsz.me?subject=Freelance%20Opportunity'>hi@olsz.me ⟶</a>
			</div>
		</div>
	</section>
</template>