@import '~@/containers/App/styles/vars';
@import '~@/containers/App/styles/shared/type';
@import '~include-media';

/* contact mobile
************************************************/
	section.contact > .container {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0 15px;
		> .box {
			background: url('/images/contact-bg.jpg') 100% 100% no-repeat;
			background-size: cover;
			padding: 0 15px;
			> div.title {
				font-size: 65px;
				margin-top: 40px;
				@extend %semibold;
			}
			> p.description {
				@extend %h2;
				@extend %light;
				color: $dove-gray;
				margin-top: 25px;
			}
			> hr {
				background: linear-gradient(270deg, rgba(0,0,0,0.00) 0%, #222224 100%);
				margin: 40px 0;
			}
			> a.mailto {
				opacity: 1;
				color: $dribbble;
				font-size: 30px;
			}
		}
	}

/* contact phone
************************************************/
	@include media('>=600px') {
		section.contact > .container {
			padding: 0 30px;
			> .box {
				padding: 0 30px;
				width: 600px;
				height: 480px;
				> div.title {
					font-size: 85px;
				}
			}
		}
	}