<style lang='scss' scoped src='./style.scss' />

<script>

	import { mapState, mapActions } from 'vuex'

	export default {
		name: 'gallery',
		created() {
			var that = this
			document.addEventListener('keyup', this.keyup)
		},
		mounted() {
			document.body.classList.add('no-scroll')
		},
		beforeDestroy() {
			document.body.classList.remove('no-scroll')
			document.removeEventListener('keyup', this.keyup)
		},
		computed: {
			...mapState('gallery', {
				open: state => state.open,
				index: state => state.index,
				images: state => state.images,
			}),
		},
		methods: {
			...mapActions('gallery', ['close', 'previous', 'next']),
			keyup(event) {
				if (event.keyCode === 27) this.close()
			},
			loaded() {
				this.resize()
			},
			resize() {
				const el = this.$refs.image
				const docWidth = Math.max(document.documentElement.clientWidth, window.innerWidth || 0)
				const docHeight = Math.max(document.documentElement.clientHeight, window.innerHeight || 0)
				const imgWidth = el.$el.clientWidth
				const imgHeight = el.$el.clientHeight

				if (imgHeight > docHeight) el.$el.style.top = 0
			},
		},
	}

</script>

<template>
	<transition name='fade-gallery' ref='test'>
		<div class='gallery' v-if='open && images'>
			<div class='content'>
				<svgicon class='icons-close' name='icons/close' :original='false' @click='close' />
				<transition name='fade-gallery-image' mode='out-in'>
					<v-lazy-image
						ref='image'
						:key='index'
						:alt='images[index].alt'
						:sizes='images[index].sizes'
						:src='images[index].src'
						:srcset='images[index].srcset'
						@load='loaded'
					/>
				</transition>
				<button class='previous' @click='previous' :disabled='index === 0'>
					<svgicon v-if='index != 0' class='icons-chevron-left' name='icons/chevron' :original='false' />
				</button>
				<button class='next' @click='next' :disabled='index === images.length - 1'>
					<svgicon v-if='index < images.length - 1'  class='icons-chevron-right' name='icons/chevron' :original='false' />
				</button>
			</div>
		</div>
	</transition>
</template>