@import '~@/containers/App/styles/vars';

/* gallery
************************************************/
	.gallery {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 2147483647;
		padding: 0 80px;
		text-align: center;
		white-space: nowrap;
		overflow: auto;
		cursor: pointer;
		background: #000;
	}

/* content
************************************************/
	.gallery > .content {
		min-height: 100vh;
		text-align: left;
		vertical-align: middle;
		display: inline-block;
		overflow: auto;
		width: 100%;
		background: $black;
		cursor: auto;
		white-space: normal;
		margin: 0 auto;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		background: url('/gifs/loader.gif') no-repeat;
		background-position: 50% 50%;
		background-size: 75px;

		-ms-overflow-style: none;
		scrollbar-width: none;
		::-webkit-scrollbar {
			-webkit-appearance: none;
			width: 0 !important;
			height: 0;
		}
		&::-webkit-scrollbar {
			-webkit-appearance: none;
			width: 0 !important;
			height: 0;
		}
	}

/* content close
************************************************/
	.gallery > .content {
		> svg.icons-close {
			position: fixed;
			top: 30px;
			right: 30px;
			padding: 0;
			width: 20px;
			height: 20px;
			transition: .2s;
			opacity: .75;
			cursor: pointer;
			border: none;
			text-indent: -999em;
			fill: $white;
			&:hover {
				transform: scale(1.1);
				opacity: 1;
			}
		}
	}

/* content image
************************************************/
	.gallery > .content {
		> img {
			position: absolute;
			max-width: 100%;
			height: auto;
			object-fit: cover;
			object-position: 0 0;
			&.v-lazy-image {
				transform: none;
				&-loaded {
					transform: none;
				}
			}
		}
	}

/* left/right
************************************************/
	.gallery > .content {
		button {
			background: none;
			border: none;
			color: $white;
		}
		&:hover {
			> button.previous,
			> button.next {
				opacity: 1;
			}
		}
		// SHARED
		> button.previous,
		> button.next {
			display: block;
			position: fixed;
			top: 25%;
			width: 80px;
			height: 50%;
			cursor: pointer;
			transition: .35s;
			opacity: 0;
			user-select: none;
			&.no-events {
				pointer-events: none;
			}
			> svg {
				position: absolute;
				top: 50%;
				margin-top: -15px;
				width: 16px;
				height: 30px;
				transition: all $duration ease-out;
				opacity: .75;
			}
			&:hover {
				opacity: 1;
				svg {
					opacity: 1;
				}
			}
		}
		// PREVIOUS
		> button.previous {
			left: 25px;
			> svg {
				transform: rotate(-180deg);
				left: 10px;
			}
			&:hover {
				svg {
					left: 3px;
					transform: rotate(-180deg) scale(1.1);
				}
			}
		}
		// NEXT
		> button.next {
			right: 25px;
			> svg {
				right: 10px;
			}
			&:hover {
				svg {
					right: 3px;
					transform: scale(1.1);
				}
			}
		}
	}