<script>

	import { mapState } from 'vuex'

	import '@/svg'
	import 'normalize.css'
	import './styles/style.scss'

	import Loaders from '@/components/Loaders/Loaders'
	import Gallery from '@/components/Gallery/Gallery'

	export default {
		name: 'app',
		components: {
			Loaders,
			Gallery,
		},
		computed: {
			...mapState('gallery', {
				open: state => state.open,
			}),
		},
	}

</script>

<template>
	<div id='app' class='app'>
		<Gallery v-if='open' />
		<Loaders />
		<router-view />
	</div>
</template>