/* top text
************************************************/
	section.supaglobal > .container {
		> .top {
			display: flex;
			align-items: center;
			> svg.companies-supaglobal {
				height: auto;
				fill: $black;
				min-width: 300px;
			}
			> h2 {
				margin-left: 100px;
			}
		}
	}

/* screen
************************************************/
	section.supaglobal {
		> .screen {
			overflow: hidden;
			margin-top: 100px;
			padding-left: calc((100vw - 1350px) / 2);
			width: 100%;
			> img {
				object-position: 100px 0px;
				width: auto;
				height: 1000px;
				object-fit: cover;
				display: block;
			}
		}
	}

/* screenshots section
************************************************/
	section.supaglobal {
		> .screenshots {
			width: 100%;
			display: flex;
			justify-content: center;
			margin-top: 200px;
			> .container {
				display: flex;
				flex-direction: column;
				align-items: center;
				> svg.icons-hr {
					fill: $blue-ribbon;
					width: 40px;
					height: auto;
				}
				> p.description {
					width: 66%;
					text-align: center;
					@extend %h2;
					margin-top: 100px;
				}
			}
		}
	}

/* screenshots container
************************************************/
	section.supaglobal {
		> .screenshots {
			> .container {
				> .screenshot-container {
					margin-top: 200px;
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;
					width: 100%;
					> .box {
						margin-bottom: 50px;
						display: flex;
						flex-direction: column;
						align-items: center;
						> .imgcontainer {
							transition: all $duration ease-out;
							overflow: hidden;
							border-radius: 4px;
							width: 650px;
							height: 650px;
							background: #FFFFFF;
							box-shadow: 0 0 10px 0 rgba(0,0,0,0.05);
							position: relative;
							&.large {
								height: 1350px;
							}
							&.border {
								border: 1px solid #F2F0F0;
							}
							> span.enlarge {
								position: absolute;
								background: rgba(111,111,111,0.3);
								color: #FFF;
								@extend %h4;
								padding: 0 15px 1px 30px;
								border-radius: 90px;
								font-weight: 500;
								position: absolute;
								bottom: 20px;
								left: 20px;
								z-index: 1;
								transition: all $duration ease-out;
								line-height: 30px;
								opacity: 0;
								&::after {
									content: '+';
									font-weight: 500;
									@extend %h2;
									padding-left: 5px;
									left: 5px;
									top: -1px;
									position: absolute;
								}
							}
							&:hover {
								cursor: pointer;
								transform: scale(1.01);
								box-shadow: 0 0 10px 10px rgba(0,0,0,0.05);
								> span.enlarge {
									opacity: 1;
								}
							}
							> img {
								width: 100%;
								height: 100%;
							}
						}
						> .title {
							margin-top: 10px;
							color: $shark-gray;
						}
					}
				}
			}
		}
	}

/* next project top section
************************************************/
	section.supaglobal {
		> .next-project {
			width: 100%;
			display: flex;
			justify-content: center;
			margin-top: 100px;
			> .container {
				display: flex;
				flex-direction: column;
				align-items: center;
				> svg.icons-hr {
					fill: $blue-ribbon;
					width: 40px;
					height: auto;
				}
				> p.description {
					width: 66%;
					text-align: center;
					@extend %h2;
					margin-top: 100px;
					margin-bottom: 100px;
				}
			}
		}
	}

/* next project content
************************************************/
	section.supaglobal > .next-project {
		> .container {
			> .content {
				width: 50%;
				display: flex;
				flex-direction: column;
				align-items: center;
				> hr {
					margin-bottom: 100px;
					height: 1px;
					background: linear-gradient(90deg, transparent 0%, #E6E6E6 25%, #E6E6E6 75%, transparent 100%);
				}
				> h3.type {
					@extend %semibold;
					color: $dove-gray;
					margin-bottom: 20px;
				}
				> svg.companies-parcel {
					height: 50px;
					width: auto;
				}
				> p.description {
					text-align: center;
					font-size: 24px;
					margin: 50px 0;
					@extend %light;
				}
				> a.goto-next {
					@extend %h1;
					color: $blue-ribbon;
					@extend %semibold;
					padding-left: 40px;
					margin-bottom: 100px;
				}
			}
		}
	}