<style lang='scss' scoped src='./style.scss' />

<script>

	import Navigation from '@/components/Navigation/Navigation'

	import VanillaTilt from 'vanilla-tilt'

	export default {
		name: 'home',
		components: {
			Navigation,
		},
		data() {
			const path = '/images/home/screens'
			return {
				/*
					lowest res 360 (lower end samsungs viewport)
					highest res 2600 (2600 = 650w square @ 100% viewport width on 4k res)
					optimized every 32kb
					10 max images
				 */
				loaded: {
					supaglobal: false,
					parcel: false,
					flarumpro: false,
					brd: false,
				},
				thumbnails: [
					{
						src: `${path}/supaglobal/master_2600.png`,
						caption: {
							title: `SupaGlobal`,
							description: `Application`,
						},
						class: `supaglobal`,
						to: `/work/supaglobal`,
						alt: `supaglobal project tile`,
						sizes: `(max-width: 2600px) 100vw, 2600px`,
						srcset: `
							${path}/supaglobal/master_1783.png 1783w,
							${path}/supaglobal/master_360.png 360w,
							${path}/supaglobal/master_905.png 905w,
							${path}/supaglobal/master_1282.png 1282w,
							${path}/supaglobal/master_1574.png 1574w,
							${path}/supaglobal/master_1982.png 1982w,
							${path}/supaglobal/master_2154.png 2154w,
							${path}/supaglobal/master_2357.png 2357w,
							${path}/supaglobal/master_2539.png 2539w,
							${path}/supaglobal/master_2600.png 2600w`,
					},
					{
						src: `${path}/parcel/parcel_2600.png`,
						caption: {
							title: `Parcel`,
							description: `Application`,
						},
						class: `parcel`,
						to: `/work/parcel`,
						alt: `parcel project tile`,
						sizes: `(max-width: 2600px) 100vw, 2600px`,
						srcset: `
							${path}/parcel/parcel_360.png 360w,
							${path}/parcel/parcel_897.png 897w,
							${path}/parcel/parcel_1273.png 1273w,
							${path}/parcel/parcel_1558.png 1558w,
							${path}/parcel/parcel_1781.png 1781w,
							${path}/parcel/parcel_1988.png 1988w,
							${path}/parcel/parcel_2177.png 2177w,
							${path}/parcel/parcel_2368.png 2368w,
							${path}/parcel/parcel_2552.png 2552w,
							${path}/parcel/parcel_2600.png 2600w`,
					},
					{
						src: `${path}/flarumpro/flarumpro_2600.png`,
						caption: {
							title: `FlarumPro`,
							description: `Application`,
						},
						class: `flarumpro`,
						to: `/work/flarumpro`,
						alt: `flarumpro project tile`,
						sizes: `(max-width: 2600px) 100vw, 2600px`,
						srcset: `
							${path}/flarumpro/flarumpro_360.png 360w,
							${path}/flarumpro/flarumpro_884.png 884w,
							${path}/flarumpro/flarumpro_1257.png 1257w,
							${path}/flarumpro/flarumpro_1521.png 1521w,
							${path}/flarumpro/flarumpro_1770.png 1770w,
							${path}/flarumpro/flarumpro_1985.png 1985w,
							${path}/flarumpro/flarumpro_2177.png 2177w,
							${path}/flarumpro/flarumpro_2358.png 2358w,
							${path}/flarumpro/flarumpro_2555.png 2555w,
							${path}/flarumpro/flarumpro_2600.png 2600w`,
					},
					{
						src: `${path}/brd/brd_2600.png`,
						caption: {
							title: `BRD`,
							description: `Crypto Exchange`,
						},
						class: `brd`,
						to: `/work/brd`,
						alt: `brd project tile`,
						sizes: `(max-width: 2600px) 100vw, 2600px`,
						srcset: `
							${path}/brd/brd_360.png 360w,
							${path}/brd/brd_937.png 937w,
							${path}/brd/brd_1303.png 1303w,
							${path}/brd/brd_1591.png 1591w,
							${path}/brd/brd_1807.png 1807w,
							${path}/brd/brd_2006.png 2006w,
							${path}/brd/brd_2179.png 2179w,
							${path}/brd/brd_2375.png 2375w,
							${path}/brd/brd_2558.png 2558w,
							${path}/brd/brd_2600.png 2600w`,
					},
				]
			}
		},
		computed: {
			getOffset() {
				if (window.matchMedia('(min-width: 768px) and (max-width: 1289px)').matches === true)
					return -62.5
				else if (window.matchMedia('(min-width: 1290px)').matches === true)
					return -100
				else
					return -15
			}
		},
		methods: {
			thumbLoaded(projectClass) {
				let mql = window.matchMedia('(min-width: 768px)')
				if (mql.matches === true) {
					this.initTilt(projectClass)
					setTimeout(function() {
						this.loaded[projectClass] = true
					}.bind(this), 450)
				} else {
					this.loaded[projectClass] = true
				}
			},
			initTilt(projectClass) {
				VanillaTilt.init(document.querySelectorAll(`.project.${projectClass}`), {
					glare: true,
					'max-glare': .25,
					perspective: 5000,
					scale: 1.03,
					speed: 3500,
					max: 10,
					reverse: true,
				});
			}
		}
	}

</script>

<template>
	<section class='home'>
		<!-- NAV -->
		<Navigation />
		<!-- HERO -->
		<header class='hero'>
			<div class='container'>
				<h1 class='title semibold'>Full-Stack Designer & Developer</h1>
				<p class='subtext'>
					Hi, I'm Marcel. My wheelhouse is building financial software: from consumer-facing payments solutions, to B2B investment engines. I'm Toronto-based and totally collaborative.
				</p>
				<a class='projects' v-scroll-to="{ el: '#projects', offset: getOffset }">Products I've built   ⟶</a>
			</div>
		</header>
		<hr id='#projects'/>
		<!-- COMPANIES -->
		<div class='companies'>
			<div class='container'>
				<div class='title currently'>Recent</div>
				<div class='title previously'>Previously</div>
				<svgicon class='icon companies-supaglobal' name='companies/supaglobal' :original='false' />
				<svgicon class='icon companies-rbc' name='companies/rbc' :original='false' />
				<svgicon class='icon companies-brd' name='companies/brd' :original='false' />
				<svgicon class='icon companies-consensys' name='companies/consensys' :original='false' />
				<svgicon class='icon companies-simpletax' name='companies/simpletax' :original='false' />
				<svgicon class='icon companies-flarumpro' name='companies/flarumpro' :original='false' />
			</div>
		</div>
		<!-- PROJECTS -->
		<div class='projects' id='projects'>
			<div class='container'>
		 		<router-link
		 			v-for='(thumb, index) in thumbnails'
		 			class='project'
		 			:class='{ [thumb.class]: thumb.class, noHover: loaded[thumb.class] === false }'
		 			:to='thumb.to'
					:key="`thumb-${index}`">
		 			<div class='imgcontainer'>
		 				<v-lazy-image
		 					:src='thumb.src'
		 					:alt='thumb.alt'
		 					:sizes='thumb.sizes'
		 					:srcset='thumb.srcset'
		 					@load='thumbLoaded(thumb.class)' />
		 			</div>
		 			<div class='caption'>
		 				<div class='title'>{{ thumb.caption.title }}</div>
		 				<div class='description'>{{ thumb.caption.description }}</div>
		 			</div>
		 		</router-link>
			</div>
		</div>
		<!-- LETS TALK -->
		<div class='talk'>
			<div class='container'>
				<div class='top'>Looking to start a project?</div>
				<router-link class='contact' to='/contact'>
					<div class='bottom'>Let's talk ⟶</div>
				</router-link>
			</div>
		</div>
	</section>
</template>