@import '~@/containers/App/styles/vars';
@import '~@/containers/App/styles/shared/type';
@import '~include-media';

/* hero mobile
************************************************/
	section.home  > header.hero {
		width: 100%;
		display: flex;
		justify-content: center;
		padding: 10px 15px 10px;
		> .container {
			> h1.title {
				font-size: calc(100vw / 12);
				margin-bottom: 25px;
			}
			> p.subtext {
				color: $dove-gray;
				@extend %h3;
				hyphens: auto;
				@extend %light;
			}
			> a.projects {
				margin-top: 25px;
				color: $dribbble;
				@extend %h3;
				opacity: 1;
			}
		}
	}

/* hero phone
************************************************/
	@include media('>=phone') {
		section.home  > header.hero {
			padding: 0 30px 0;
			> .container {
				> h1.title {
					font-size: 3.215em;
				}
				> p.subtext {
					font-size: $h2;
				}
				> a.projects {
					font-size: $h2;
				}
			}
		}
	}

/* hero tablet
************************************************/
	@include media('>=tablet') {
		section.home  > header.hero {
			margin: 20px 0;
			> .container {
				> p.subtext {
					font-size: $h1;
				}
				> a.projects {
					font-size: $h1;
				}
			}
		}
	}

/* hero desktop-xl
************************************************/
	@include media('>=desktop-xl') {
		section.home  > header.hero {
			margin: 20px 0 70px;
			> .container {
				> h1.title {
					margin-bottom: 50px;
				}
				> a.projects {
					margin-top: 50px;
				}
			}
		}
	}

/* companies mobile
************************************************/
	section.home > .companies {
		width: 100%;
		padding: 0 15px;
		margin: 10px 0 15px;
		display: flex;
		flex-direction: column;
		align-items: center;
		> .container {
			display: grid;
			grid-auto-columns: auto;
			grid-template-rows: 16px 50px;
			grid-row-gap: 5px;
			grid-column-gap: 15px;
			position: relative;
			grid-template-areas:
				'current previously'
				'supaglobal rbc brd consensys simpletax flarumpro';
			@include media('>=940px', '<=1410px') {
				padding-right: calc(100% - 940px);
			}
			@include media('>=desktop-full') {
				padding-right: 410px;
			}
			> .title {
				margin-bottom: 30px;
				@extend %h6;
				&.currently {
					grid-area: currently;
					grid-row: 1;
					grid-column: 1;
					height: auto;
				}
				&.previously {
					grid-area: previously;
					grid-row: 1;
					grid-column: 3 / 8;
					height: auto;
					color: $gray;
				}
			}
			> .icon {
				display: flex;
				align-self: center;
				fill: $gray;
				height: 100%;
				width: 100%;
				@include media('>=871px') {
					width: auto;
				}
				&.companies-supaglobal {
					grid-area: supaglobal;
					grid-column: 1;
					grid-row: 2;
					max-height: 50px;
					fill: $white;
				}
				&.companies-rbc {
					grid-area: rbc;
					grid-column: 3;
					grid-row: 2;
					max-height: 40px;
					padding: 9px 0;
				}
				&.companies-brd {
					grid-area: brd;
					grid-column: 4;
					grid-row: 2;
					max-height: 25px;
					padding: 5px 0;
				}
				&.companies-consensys {
					grid-area: consensys;
					grid-column: 5;
					grid-row: 2;
					max-height: 30px;
				}
				&.companies-simpletax {
					grid-area: simpletax;
					grid-column: 6;
					grid-row: 2;
					max-height: 25px;
					padding: 3px 0;
				}
				&.companies-flarumpro {
					grid-area: flarumpro;
					grid-column: 7;
					grid-row: 2;
					max-height: 25px;
					padding: 0 0 5px;
				}
			}
		}
	}

/* companies phone
************************************************/
	@include media('>=phone') {
		section.home > .companies {
			padding: 0 30px;
			margin: 0 0 30px;
			> .container {
				grid-column-gap: 30px;
				> .title {
					font-size: $h4;
				}
				> .icon {
					&.companies-rbc {
						padding: 0;
					}
				}
			}
		}
	}

/* companies tablet
************************************************/
	@include media('>=tablet') {
		section.home > .companies {
			padding: 0 30px;
			margin: 20px 0 50px;
			> .container {
				> .title {
					margin-bottom: 10px;
				}
			}
		}
	}

/* companies desktop-xl
************************************************/
	@include media('>=desktop-xl') {
		section.home > .companies {
			padding: 0 30px;
			margin: 70px 0 100px;
			> .container {
				> .title {
					margin-bottom: 10px;
				}
			}
		}
	}

/* projects grid mobile
************************************************/
	section.home  > .projects {
		width: 100%;
		display: flex;
		justify-content: center;
		padding: 10px 15px 0;
		> .container {
			display: grid;
			grid-template-columns: 1fr;
			grid-row-gap: 25px;
			grid-template-rows: repeat(4, calc(100vw * 1.1));
			width: 100%;
			grid-template-areas:
				'supaglobal'
				'parcel'
				'flarumpro'
				'brd';
			> .project {
				opacity: 1;
				position: relative;
				width: 100%;
				&.noHover {
					pointer-events: none;
				}
				&.supaglobal {
					grid-area: supaglobal;
					grid-column: 1;
					grid-row: 1;
				}
				&.parcel {
					grid-area: parcel;
					grid-column: 1;
					grid-row: 2;
				}
				&.flarumpro {
					grid-area: flarumpro;
					grid-column: 1;
					grid-row: 3;
				}
				&.brd {
					grid-area: brd;
					grid-column: 1;
					grid-row: 4;
				}
			}
		}
	}

/* projects grid phone
************************************************/
	@include media('>=phone') {
		section.home  > .projects {
			width: 100%;
			padding: 0px 30px 0;
			> .container {
				grid-row-gap: 30px;
			}
		}
	}

/* projects grid tablet
************************************************/
	@include media('>=tablet') {
		section.home > .projects {
			background-image: linear-gradient(0deg, #000000 0%, #13171A 100%);
			margin-top: 37.5px;
			> .container {
				margin-top: -37.5px;
				grid-template-columns: repeat(2, 1fr);
				grid-gap: 25px;
				grid-template-rows: 50px 453px 50px 453px 50px;
				position: relative;
				grid-template-areas:
					'supaglobal parcel'
					'flarumpro brd';
				> .project {
					&.supaglobal {
						grid-column: 1;
						grid-row: 1 / 3;
					}
					&.parcel {
						grid-column: 2;
						grid-row: 2 / 4;
					}
					&.flarumpro {
						grid-column: 1;
						grid-row: 3 / 5;
					}
					&.brd {
						grid-column: 2;
						grid-row: 4 / -1;
					}
				}
			}
		}
	}

/* projects grid tablet
************************************************/
	@include media('>=desktop-xl') {
		section.home > .projects {
			margin-top: 75px;
			> .container {
				margin-top: -75px;
				grid-gap: 50px;
				grid-template-rows: 100px 653px 100px 653px 100px;
			}
		}
	}

/* projects project box mobile
************************************************/
	section.home  > .projects > .container {
		> .project {
			> .imgcontainer {
				height: 100%;
				overflow: hidden;
				> img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					transition: all $duration*1.5 ease;
				}
			}
			> .caption {
				position: absolute;
				left: 15px;
				top: 15px;
				z-index: 10;
				> div.title {
					@extend %semibold;
					@extend %h2;
					color: $white;
					transition: all $duration ease-out;
				}
				> div.description {
					@extend %semibold;
					letter-spacing: -.25px;
					@extend %h4;
					color: $white;
					transition: all $duration ease-out;
					opacity: .4;
				}
			}
		}
	}

/* projects project box phone
************************************************/
	@include media('>=phone') {
		section.home  > .projects > .container {
			> .project {
				> .caption {
					left: 30px;
					top: 30px;
					> div.title {
						font-size: $h1;
					}
					> div.description {
						font-size: $h3;
					}
				}
			}
		}
	}

/* projects project box tablet
************************************************/
	@include media('>=tablet') {
		section.home  > .projects > .container {
			> .project {
				transform: perspective(5000px);
				transform-style: preserve-3d;
				> .imgcontainer {
					> img {
						transform-style: preserve-3d;
					}
				}
				&:hover,
				&:focus {
					cursor: pointer;
					> .imgcontainer > img {
						transform: scale(1.1);
					}
					> .caption {
						transform: translateZ(30px) scale(1.03);
					}
				}
			}
		}
	}

/* individual project styles mobile
************************************************/
	section.home > .projects > .container {
		> .project {
			&.supaglobal {
				background-image: linear-gradient(135deg, #C1C6CB 0%, #F7F8F9 100%);
				> .imgcontainer {
					> img {
						object-position: 0 25px;
					}
				}
				> .caption {
					> div.title,
					> div.description {
						color: $black;
					}
				}
			}
			&.parcel {
				background-image: linear-gradient(135deg, #282D32 0%, #586469 100%);
				> .imgcontainer {
					> img {
						object-position: 70% 86px;
					}
				}
				> .caption {
					> div.title {
						color: $white;
					}
				}
			}
			&.flarumpro {
				background-image: linear-gradient(135deg, #7A7F85 0%, #393B3D 100%);
				> .imgcontainer {
					> img {
						object-position: 5% 60px;
						transform: scale(1.1);
					}
				}
			}
			&.brd {
				background-image: linear-gradient(225deg, #EA9D26 0%, #ED5191 100%);
				> .imgcontainer {
					> img {
						object-position: 47px 16px;
						transform: scale(1.5);
					}
				}
				> .caption {
					> div.description {
						opacity: .5;
					}
				}
			}
		}
	}

/* individual project styles phone
************************************************/
	@include media('>=phone') {
		section.home > .projects > .container {
			> .project {
				&.supaglobal > .imgcontainer > img {
					object-position: 0 50px;
				}
				&.parcel > .imgcontainer > img {
					object-position: 65% 132px;
				}
				&.flarumpro > .imgcontainer > img {
					object-position: 5% 80px;
					transform: scale(1.1);
				}
			}
		}
	}

/* individual project styles tablet
************************************************/
	@include media('>=tablet') {
		section.home > .projects > .container {
			> .project {
				&.parcel > .imgcontainer {
					> img {
						object-position: 47% 132px;
					}
				}
			}
		}
	}

/* individual project styles desktop
************************************************/
	@include media('>=desktop') {
		section.home > .projects > .container {
			> .project {
				&.supaglobal > .imgcontainer > img {
					object-position: 50px 25px;
				}
				&.parcel > .imgcontainer > img {
					object-position: -164px 136px;
				}
				&.flarumpro > .imgcontainer > img {
					object-position: 10px 80px;
				}
				&.brd > .imgcontainer > img {
					object-position: 60px 76px;
				}
			}
		}
	}

/* individual project styles desktop-xl
************************************************/
	@include media('>=desktop-xl') {
		section.home > .projects > .container {
			> .project {
				&.parcel > .imgcontainer > img {
					object-position: -264px 136px;
				}
				&.flarumpro > .imgcontainer > img {
					object-position: -50px 80px;
				}
			}
		}
	}

/* talk mobile
************************************************/
	section.home  > .talk {
		margin-top: 50px;
		margin-bottom: 50px;
		width: 100%;
		display: flex;
		justify-content: center;
		> .container {
			text-align: center;
			> .top {
				@extend %h2;
				@extend %light;
			}
			> a.contact {
				opacity: 1;
				> div.bottom {
					@extend %h2;
					@extend %semibold;
				}
			}
		}
	}

/* talk phone
************************************************/
	@include media('>=phone') {
		section.home  > .talk {
			margin-top: 100px;
			margin-bottom: 100px;
			> .container {
				> .top {
					font-size: $h1;
				}
				> a.contact {
					> div.bottom {
						font-size: $h1;
					}
				}
			}
		}
	}

/* talk tablet
************************************************/
	@include media('>=desktop-xl') {
		section.home  > .talk {
			margin-top: 200px;
			margin-bottom: 200px;
		}
	}